rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
      // participantID must be in the registered_participants array in the registered_studies/{studyID} document
      match /participant_responses/{studyID}/participants/{participantID} {
        allow read, create, update: if true
        // if participantID in get(/databases/$(database)/documents/registered_studies/$(studyID)).data.registered_participants;
      }
      match /participant_responses/{study_id}/participants/{participant_id}/data/{document=**} {
    			allow read: if false; 
          allow create, update: if exists(/databases/$(database)/documents/registered_studies/$(study_id));
      }
    }
}
