#circle {
	/* To create a circle, use the border-radius property and set the value to 50% */
	border-radius: 50%;
	margin: 0;
	width: 300px;
	height: 300px;
	border-width: 1px;
	border-style: solid;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
   overflow: hidden;
	display: block;
}

#circle-in {
	/* To create a circle, use the border-radius property and set the value to 50% */
	border-radius: 50%;
	position: relative;
	top: 34px;
	left: 34px;
	width: 230px;
	height: 230px;
	border-width: 1px;
	border-style: solid;
	background-color: darkgray;
}

#shield{
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin:0% 100%;
    transform: rotate(345deg) skewX(331deg);
    background-color: #ff5e48;
	display: none;
}

#center-circle{
	margin: 0;
	width: 50px;
	height: 50px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

#picker {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 30px;
	margin-top: -15px;
	width: 50%;
	-webkit-transform-origin: center left;
	-moz-transform-origin: center left;
	-ms-transform-origin: center left;
	-o-transform-origin: center left;
	transform-origin: center left;
	transform: rotate(0deg) ;
	display: none;
}

#pickerOutcome {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 30px;
	margin-top: -15px;
	width: 50%;
	-webkit-transform-origin: center left;
	-moz-transform-origin: center left;
	-ms-transform-origin: center left;
	-o-transform-origin: center left;
	transform-origin: center left;
	transform: rotate(0deg) ;
}

#picker-circle{
	width: 33px;
	height: 33px;
	border-width: 1px;
	border-style: solid;
	border-color: #fff;
	background-color: #fff;
	border-radius: 50%;
	margin: 0 1px 0 auto;
}

#h{
	position:relative;
	width:3px;
	height:100%;
	background-color: #000;
	top:0;
	left: 50%;
	margin-left: -1.5px;
    display: none;
}
#v{
	position:relative;
	width:100%;
	height: 3px;
	background-color: #000;
	top:-50%;
	left: 0;
	margin-top: -1.5px;
    display: none;
}

#picker-prediction{
	width: 33px;
	height: 33px;
	border-radius: 50%;
	margin: 0 1px 0 auto;
    overflow: hidden;
}

#counter {
	position:fixed;
	color:#000;
	width: 40px;
	height: 28px;
    text-align: center;
	transform: translate(-50%, -50%);
	top:20%;
	left:50%;
	border-style: solid;
	border-radius: 5px;
	border-color: #000;
	border-width: thin;
	white-space: pre;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

